@page
@model RestaurenManage.Pages.Customer.CartsModel
@{
}
<link rel='stylesheet' href='~/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all' />

<a>
<h1>I am in cart pages.</h1>
</a>
